.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 250, 240);
  padding-top: 100px;
}
.bar {
  width: 900px;
  height: 1px;
  background-color: #555555;
  margin: 20px 0;
}

.contents {
  display: flex;
  width: 1000px;
}
