.header {
  display: flex;
  width: 900px;
  height: 150px;
}
.profileIcon {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid gold;
}
.profile {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  justify-content: space-between;
}
.iconImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.level {
  position: absolute;
  background-color: darkgrey;
  border: 2px solid gold;
  color: black;
  bottom: -10px;
  left: 60px;
}
.summonerId {
  font-size: 25px;
}
