.rank {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.soloRank {
  display: flex;
  flex-direction: row;
  background-color: rgb(202, 202, 199);
  margin-bottom: 10px;
  font-size: 14px;
}

.soloTierImg {
  height: 146px;
}
.soloRankInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teamRank {
  display: flex;
  flex-direction: row;
  background-color: rgb(202, 202, 199);
  font-size: 14px;
}
.teamTierImg {
  height: 150px;
}
.teamRankInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
